.footer .subscribe-block  {
    background-image: url("../images/footermail.png");
    float:none;
}


@media screen and (max-width:767px){
    .page-header .logo{
        display: unset !important;
    }

    .minicart-wrapper .title-cart {
        padding: 0 10px !important;
    }

    .minicart-wrapper{
        float: unset !important;
    }

    .page-header .action.nav-toggle span {
        display: none !important;
    }

    .header-wrapper .navbar-default {
        position: absolute;
        top: -5px;
        left: 5px;
    }
}

@media only screen and (max-width: 1007px) and (min-width: 768px){
    .page-header .logo {
        vertical-align: top !important;
    }

    .header-wrapper .navbar-default {
        position: unset !important;
        right: unset !important;
        z-index: unset !important;
        top: unset !important;
    }

    .menu-wrapper {
        height: auto !important;
    }
}

[class*=heading-] {
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.related-blogs{
    text-align: center;
}